spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auto-loan-digitalportal?currentSchema=audit_log
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
#    hibernate:
#      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 9091
logging:
  level:
    root: INFO
    com.example.audit: DEBUG